/*推荐元素展示框(白底色)--开始*/
.wlp-praise-box {
	background-color: #ffffff;
	padding: 13px;
	border-radius: 6px 6px 6px 6px;
	border: 1px solid #ffffff;
	margin: 8px;
	cursor: pointer;
	margin: 8px;
}

.wlp-praise-box:HOVER {
	background-color: #f7f7f7;
	padding: 13px;
	border-radius: 15px 15px 15px 15px;
	border: 1px dashed #dddddd;
	cursor: pointer;
}

.wlp-praise-box .media-heading {
	font-size: 16px;
	font-weight: 700;
}

.wlp-praise-box .media-body {
	font-size: 12px;
	font-weight: 500;
}

.wlp-praise-box .media-object.minImg {
	height: 50px;
	width: 50px;
}
.wlp-praise-box .media-object.maxImg {
	height: 70px;
	width: 100px;
}
/*推荐元素展示框(白底色)--结束*/

/*推荐元素展示框(灰底色)--开始*/
.wlp-classShow-box:hover img {
	-moz-opacity: 0.7;
	filter: alpha(opacity = 70);
	opacity: 0.7;
	cursor: pointer;
}
.wlp-praiseback-box {
	background-color: #f2f2f2;
	padding: 13px;
	border-radius: 6px 6px 6px 6px;
	border: 1px solid #ffffff;
	margin: 8px;
	cursor: pointer;
	margin: 8px;
}

.wlp-praiseback-box:HOVER {
	background-color: #fafafa;
	padding: 13px;
	border-radius: 15px 15px 15px 15px;
	border: 1px dashed #dddddd;
	cursor: pointer;
}

.wlp-praiseback-box .media-heading {
	font-size: 16px;
	font-weight: 700;
}

.wlp-praiseback-box .media-body {
	font-size: 12px;
	font-weight: 500;
}

.wlp-praiseback-box .media-object {
	height: 50px;
	width: 50px;
}
/*推荐元素展示框(灰底色)--结束*/

/*栏目标题框--开始*/
.wlp-column-title .main {
	font-size: 24px;
	font-weight: 700;
}

.wlp-column-title .note {
	font-size: 14px;
	font-weight: 500;
	color: #666666;
	margin-left: 12px;
}
/*栏目标题框--结束*/

/*二谀祟}*/
.wlp-userspace-h2 {
	font-size: 16px;
	font-weight: 700;
	padding-left: 20px;
}
/*MQ分隔符*/
.wlp-userspace-hr {
	margin-top: 8px;
	margin-bottom: 8px;
}